{% extends 'users/main.html' %}

{% block content %}
<div class="container col-xl-12">

    <div class="card mb-4">
        <div class="card-header">Create Stock in the warehouse  </strong></div>
        <div class="card-body">

            <form class="purchase_produce_form" name="purchase_produce_form" action="{% url 'cms:create_stock' %}" method="post"  >
                {% csrf_token %}
                <div class="mb-3">
                    <label class="small mb-1" for="quantity">Warehouse</label>
                        <select class="form-select" name = 'warehouse'  class="form-control" required>
                            <option  selected>Select Warehouse</option>
                            {% for warehouse in warehouses %}
                                <p> warehouse</p>
                                <option value={{warehouse.warehouse_id}}>{{warehouse.warehouse_name}}</option>
                            {% endfor %}               
                        </select>
                </div>
       
                <div class="mb-3">
                    <label class="small mb-1" for="quantity">Produce</label>
                    <select class="form-select" name = 'produce'   class="form-control" required>
                        <option  selected>Select Produce</option>
                        {% for produce in produces %}
                            <p> produce</p>
                            <option value={{produce.produce_id}}>{{produce.produce_name}}</option>
                        {% endfor %}               
                    </select>
                </div>
               
                <div class="row gx-3 mb-3">
                
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Unit</label>
                        <select class="form-select" name = 'unit'  class="form-control" required>
                            <option  selected>Select Unit</option>
                            {% for unit in units %}
                                <p> unit</p>
                                <option value={{unit.unit_id}}>{{unit.unit_name}}</option>
                            {% endfor %}               
                        </select>
                    </div>
               
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Quantity</label>
                        <input class="form-control" name="quantity" type="number" placeholder="Quantity" >
                    </div>
                </div>
             
                                          
                <button class="btn btn-primary"  type="submit" >Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}