{% extends 'users/main.html' %}

{% block content %}
<div class="container col-xl-12">

    <div class="card mb-4">
        <div class="card-header">Update shipped produce from farm </strong></div>
        <div class="card-body">

            <form class="purchase_produce_form" name="purchase_produce_form" action="{% url 'cms:update_produce_ship_from_farm' shipment.shipment_id %}" method="post"  >
                {% csrf_token %}
       
                <div class="mb-3">
                    <label class="small mb-1" for="quantity">Produce</label>
                    <select class="form-select" name = 'produce'   class="form-control" required>
                        <option  value={{shipment.produce.produce_id}} selected>{{shipment.produce.produce_name}}</option>
                        {% for produce in produces %}
                            <p> produce</p>
                            <option value={{produce.produce_id}}>{{produce.produce_name}}</option>
                        {% endfor %}                  
                    </select>
                </div>
               
                <div class="row gx-3 mb-3">
                
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Unit</label>
                        <select class="form-select" name = 'unit'  class="form-control" required>
                            <option  value={{shipment.unit.unit_id}} selected>{{shipment.unit.unit_name}}</option>
                            {% for unit in units %}
                                <p> unit</p>
                                <option value={{unit.unit_id}}>{{unit.unit_name}}</option>
                            {% endfor %}               
                        </select>
                    </div>
               
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Quantity</label>
                        <input class="form-control" name="quantity" type="number" placeholder="Quantity" value = {{shipment.quantity}}>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Transporter</label>
                        <select class="form-select" name = 'transporter'  class="form-control" required>
                            <option value={{shipment.transporter.user_id}} selected>{{shipment.transporter.full_names}}</option>
                            {% for transporter in transporters %}
                                <p> transporter</p>
                                <option value={{transporter.user_id}}>{{transporter.full_names}}</option>
                            {% endfor %}               
                        </select>
                    </div>
               
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Driver Phone</label>
                        <input class="form-control" name="driver_phone" type="tel" value={{shipment.driver_phone}}  >
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Total Produce Cost </label>
                        <input class="form-control" name="total_produce_cost" type="number" value={{shipment.total_produce_cost}} >
                    </div>
               
                    <div class="col-md-6">
                        <label class="small mb-1" for="quantity">Total Shipping Cost </label>
                        <input class="form-control" name="shipping_cost" type="number" value={{shipment.shipping_cost}} >
                    </div>
                </div>

              
                               
                <button class="btn btn-primary"  type="submit" >Submit</button>
            </form>
        </div>
    </div>
</div>

<Script type='javascript' >
    $(function(){
    $('#datepicker').datepicker();
    });
</Script>

{% endblock %}